<%- include("./Header",users) %>

<div class="container">
    <div class="main_container">
        <%- include("./component/leftbar") %>

   
   
   
        <% if (users[0].roles === "admin" || users[0].roles === "moderator") { %>
    <div class="right_container">
        <form action="/admin/course/addcoursedetails" method="post" enctype="multipart/form-data">
           <p>Course Name</p>
           <input type="text" class="right_container_input" name="course_name" id="" placeholder="Enter Course Name">

           <p>Course Details</p>
           <textarea type="text" class="right_container_input_textarea" name="course_details" id="" placeholder="Enter Course Details"></textarea>
           
           <p>Course Price</p>
           <input type="number" class="right_container_input" name="course_price" id="" placeholder="Enter Course Price">

           <p>Select Instructor</p>
           <select class="right_container_select" name="instructor" id="">
               <% instructors.forEach(function(instructor){ %>
               <option  value="<%= instructor.user_name %>"><%= instructor.user_name %></option>
               <%  }); %>
           </select>
           <br>
           <p>Course Banner Photo</p>
           <input type="file" name="course_banner_photo" id="" placeholder="Enter Course Banner Photo"> <br><br>
           <input type="submit" value="Submit" class="right_container_submit">

        </form>
    </div>
    <% } else { %>
        <script>alert("Only Admin And Moderator Can See")</script>
    <p>Sorry Only Admin and Moderator Can See</p>
    <% } %>
   
   
    </div>
</div>



<%- include("./Footer") %>
