<%- include("Home/Header"); %>


<div class="articledetails">
    <div class="main">
        <div class="left_articlesection">
            <img class="logo" src="/Images/uploaded/<%= articleDetailsResults[0].courselogo %>" alt="">
            <h2 class="articledetailsname"><%- articleresult[0].coursename %></h2>
            <ul>
                <% results.forEach(function(article){ %>
                <li><a href="/course/<%= article.coursename.replaceAll(' ','_') %>/<%= article.articletitle.replaceAll(' ','_') %>"><%= article.articletitle %></a></li>
                <%   }); %>
            </ul>
        </div>
        <div class="right_articlesection">
            <img src="/Images/uploaded/<%= articleDetailsResults[0].coursebanner %>" class="article_banner_img" alt="">
            <div class="article"><%- articleresult[0].articlebody %></div>
        </div>
        <div class="advertisesection">

        </div>
    </div>
</div>




<%- include("Home/Footer"); %>
